body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 10vh;
  width: 100%;
  font-family: "Work-sans", "sans-serif", Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 {
  width: 25%;
  margin: 0;
  padding: 0;
}

nav ul {
  width: 66%;
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 5%;
}

nav a {
  text-decoration: none;
}
